.nav {
    background: #ef8341;
    width: 100%;
    position: fixed;
    z-index: 10;
    font-family: "Rajdhani", sans-serif;
    top: 0;
    transition: all 1s;
  }
  
  #sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    margin-top: 80px;
    background: rgb(166, 165, 165);
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    
  }
  
  #openSidebarmenu {
    display: none;
  }
  
  .sidebarIconToggle {
    width: 22px;
    height: 22px;
    position: absolute;
    z-index: 20;
    top: 30px;
    left: 67px;
    cursor: pointer;
  }
  
  .spinner {
    height: 2px;
    background: #fff;
    transition: all 0.3s;
  }
  
  .middle,
  .bottom {
    margin-top: 5px;
  }
  
  #openSidebarmenu:checked ~ .sidebarIconToggle > .middle {
    opacity: 0;
  }
  
  #openSidebarmenu:checked ~ .sidebarIconToggle > .top {
    transform: rotate(135deg);
    margin-top: 8px;
  }
  
  #openSidebarmenu:checked ~ .sidebarIconToggle > .bottom {
    transform: rotate(-135deg);
    margin-top: -9px;
  }
  
  #openSidebarmenu:checked ~ #sidebarMenu {
    transform: translateX(0px);
  }
  
  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu li {
    color: #fff;
    border-bottom: 1px solid rgba(225, 225, 225, 0.15);
  }
  
  .menu li a {
    color: #fff;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 9px;
    font-size: 17px;
    transition: all 0.3s;
  }
  
  .menu li:hover a {
    margin-left: 5px;
  }
  
  .sidebar-Icon {
    border-radius: 2px;
  }
  
  .nav-content {
    display: flex;
    align-items: center;
    padding: 13px 0px;
  }
  
  .logo {
    /* padding-top: px; */
    /* align-items: center; */
    /* margin-top: 15px; */
  }

  .cart{
    cursor: pointer;
    color: #fff;
    font-weight: 600;
  }
  
  .cartDropdown{
    display: none;
  }
  .bpshopsLogo {
    width: 13em;
    cursor: pointer;
    margin-left: 110px;
    transition: all 1s;
  }
  
  .bpshopsIcon {
    display: none;
    transition: all 1s;
    margin-left: 50px;
  }
  
  .searchInput {
    margin: auto;
    position: relative;
  }
  
  .search {
    width: 700px;
    font-family: "Rajdhani", sans-serif;
    font-size: 17px;
    border: none;
    background: #fff;
    border-radius: 30px;
    padding: 14px 30px;
    margin-left: -153px;
    z-index: 100;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    transition: all 0.3s;
  }
  
  .searchIcon {
    position: absolute;
    margin-left: -35px;
    margin-top: 15px;
    cursor: pointer;
  }
  
  .login {
    margin-right: 67px;
    color: #fff;
    font-size: 25px;
    padding: 11px 0px;
  }
  
  .login h6 {
    cursor: pointer;
  }
  
  .threeDotMenuIcon {
    color: #fff;
    display: none;
    cursor: pointer;
  }
  
  /* responsive css */
  @media only screen and (max-width: 1400px) {
    .sidebarIconToggle {
      left: 37px;
    }
    .bpshopsLogo {
      margin-left: 75px;
    }
    .login {
      margin-right: 37px;
    }
    .search {
      width: 600px;
    }
  }
  
  @media only screen and (max-width: 1300px) {
    .search {
      width: 550px;
      margin-left: 10px;
    }
    .bpshopsLogo {
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .search {
      width: 500px;
      margin-left: 10px;
    }
    .bpshopsLogo {
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 1100px) {
    .search {
      width: 450px;
      margin-left: 0px;
    }
    .bpshopsLogo {
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .search {
      width: 410px;
      margin-left: 0px;
    }
    .bpshopsLogo {
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 900px) {
    .search {
      width: 410px;
      margin-left: 20px;
    }
    .bpshopsLogo {
      display: none;
    }
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 892px) {
    .search {
      width: 390px;
      margin-left: 17px;
    }

    .bpshopsLogo {
      display: none;
    }
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .search {
      width: 370px;
      margin-left: 15px;
    }
    .bpshopsLogo {
      display: none;
    }
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 75px;
    }
    .sidebarIconToggle {
      left: 37px;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .search {
      width: 350px;
      margin-left: 10px;
      
    }
    .sidebarIconToggle {
      top: 32px;
      left: 37px;
    }
    .bpshopsLogo {
      display: none;
      
    }
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 75px;
    }
  
    .login h6 {
      display: none;
    }
  
    .threeDotMenuIcon {
      display: block;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 668px) {
    .search {
      width: 300px;
      padding: 14px 20px;
      margin-left: -10px;
      font-size: 16px;
    }
    .sidebarIconToggle {
      top: 32px;
      left: 37px;
    }
    .bpshopsLogo {
      display: none;
    }
  
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 75px;
    }
  
    .login h6 {
      display: none;
    }
  
    .threeDotMenuIcon {
      display: block;
    }
    .login {
      margin-right: 37px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .search {
      width: 250px;
      padding: 14px 20px;
      margin-left: 0px;
      font-size: 15px;
    }

    .sidebarIconToggle {
      top: 32px;
      left: 30px;
    }
  
    .bpshopsLogo {
      display: none;
    }
  
    .bpshopsIcon {
      display: block;
      width: 45px;
      margin-left: 65px;
    }
  
    .login h6 {
      display: none;
    }
  
    .threeDotMenuIcon {
      display: block;
    }
    .login {
      margin-right: 25px;
    }
    
  }